@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$blue: #40669c;
$light-blue-2: #a9ccff;
$grayish-blue: #dedeff;
$dark-blue-1: #030246;

@mixin flex($jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
}

@mixin grid1() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(25px, auto);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

.flex-center {
  @include flex(center);
}

.body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.loader-container {
  width: 82vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-left: 18vw;
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: white;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
  background: white;
}

::-webkit-scrollbar-thumb {
  border: 1px solid $grayish-blue;
  border-radius: 100vw;
  background: $grayish-blue;
}

::-webkit-scrollbar-thumb:hover {
  background: $light-blue-2;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $dark-blue-1 $blue;
  }
}

@media (max-width: 768px) {
  ::-webkit-scrollbar-track {
    margin-top: 0;
  }
}
